<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <div [hidden]="submitted">
        <h1 class="form-header">Reset password</h1>
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" #f="ngForm">
            <app-form-message [serverMsg]="serverMessage" [formMsgs]="formMessages"></app-form-message>
            <div class="form-group" formGroupName="passwords">
                <input type="password" class="form-control" placeholder="Password" name="password"
                formControlName="password">
                <app-form-error [control]="form.controls.passwords.controls.password" [overrideMsg]="formErrors['password']"></app-form-error>
            </div>
            <div class="form-group" formGroupName="passwords">
                <input type="password" class="form-control" placeholder="Retype password" name="password_confirmation"
                formControlName="password_confirmation"
                [class.invalid]="!f.form.controls.passwords.valid">
                <app-form-error [control]="form.controls.passwords.controls.password_confirmation" [overrideMsg]="formErrors['password_confirmation']"></app-form-error>
                <app-form-error [control]="form.controls.passwords" [overrideMsg]="formErrors['passwords']"></app-form-error>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-default" [disabled]="submitting">Reset <i *ngIf="submitting" class="fa fa-circle-o-notch fa-spin"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h1 class="form-header">You have reset password successfully !</h1>
        <div class="text-center">You will be redirected to the Login page in {{ second }} seconds</div>
    </div>
</div>
